name: Python application check

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 python-dotenv psutil flask

    - name: Lint with flake8
      run: |
        pip install flake8
        # --exit-zero garante o check verde mesmo com avisos de estilo
        # --select=E9,F63,F7,F82 foca apenas em erros fatais que travam o app
        flake8 . --count --exit-zero --select=E9,F63,F7,F82 --show-source --statistics